.header {
  padding-top: 25px;
  height: 80px;
  background: #9fc691;
}
.navItem {
  outline: none;
  text-decoration: none;
  color: #00000099;
  font-size: 18px;
}

.navItem:hover {
  transition-duration: 300ms;
  color: #00000099;
  font-weight: 800;
}

.logoText {
  text-align: center;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.blocAboutMe {
  background: #9fc691;
}
.blocAboutImg {
  margin-top: 40px;
}

.nameText {
  width: 100%;
  text-align: center;
  margin-top: 120px;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.aboutText {
  width: 100%;
  text-align: center;
  margin-top: 157px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 174%;
}

.btnRecord {
    transition-duration: 0.5s ;
  width: 40%;
  margin-top: 60px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #464343;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  color: white;
}

.btnRecord:hover {
    transition-duration: 1s;
  border: 4px solid #464343;
  color: black;
  background: none;
  border-radius: 8px;
}

.blockType {
  
    margin-top: 88px !important;

}

.typeTitle{
    width: 100% !important;
    margin-top: 40px;
    font-family: 'Caveat';
font-style: normal;
font-weight: 700;
font-size: 25px;

}

typeDiscription{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 174%;
color: #000000a3;

}

.typePrice{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 21px;
} 
.blockLetsWorc{
    margin-top: 110px !important;
    background: url("./img/baground.png");
    background-size: 100% 750px !important;
    background-repeat: no-repeat;

}
.letsDiscription{
    width: 650px;
    height: 581px;

    margin-top: 33px !important;
    margin-left: 228px;
    background-color: white;

}

.letsPhoto{
    margin-top: 82px !important;
   
    width: 544px !important;
    height: 747px;
    margin-left: 183px;
}

.imgLets{
    border: 10px solid white;
}

.letsTitle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;

margin-top: 38px;
text-align: center;
}

.letsDiscriptionText{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 174%;

margin-top: 64px;
margin-left: 111px;
margin-right: 198px;
color: rgba(0, 0, 0, 0.64);
}

.lestBtn{
    transition-duration: 0.5s ;
  width: 50%;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #464343;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: white;

}

.lestBtn:hover{
    transition-duration: 1s;
  border: 4px solid #464343;
  color: black;
  background: none;
  border-radius: 8px;
}

.examplesBlock{
    margin-top: 75px !important;
}
.gallery {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.imgGallary{
    width: 30%;
}

.footerBlock{
    background: #9fc691;
}