@media (min-width:320px) and (max-width:1199px){
 .galleryWrapper {
    display: none;
 }
 
 

 .serviceWrapper{
 flex-wrap: wrap;
 }
 .service{
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 4px solid #9fc691;
 }

 .service>img {
    width: 95%;
    height: auto;
    margin: 0 2.5%;
 }
 .workTContainer {
    margin-top: 15px;
 }

.serviceBlock {
    margin-top: 50px;
}

 .header-nav{
    width: 90%;
 }

 .nav-item {
    font-size: 30px;
 }

 .aboutPhoto {
display: none;
 }
.aboutPhotoText>div {
    width: 100%;
    height: auto;
}

.authorName {
    margin: 60px 0;
}

.t-aboutPhoto{
    display: block;
    width: 50%;
    margin: 25px 25%;
  }

  .workImg {
    display: none;
  }
  .greenBg {
    height: auto;
    background: none;
  }

  .workTextBlock{
    width: 90%;
    margin: 25px 5%;
    background-color: rgba(255, 255, 255, 0.588);
  }

  .sliderWrapper{
    width: 100%;
    justify-content: center;
  }
  .sliderText{
    width: 70%;
  }

  .greenBlock{
    height: 60px;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderContent{
    width: 75%;
  }

  .sliderContent>img{
    width: 100%;
    height: auto;
  }

  .btnSlider{
    cursor: pointer;
    margin: 0 2%;
    width: 50px;
    height: 50px;
    border: none;
    background: #9fc691;
    border-radius: 50%;
  }
  .reviewForm {
    width: 100%;
    padding: 10px 0 0 0; 
  }
  .header-main {
    display: none;
}

.m-header{
    display: block;
}

.social-media{
    width: 100%;
}

.socialWrapper{
    width: 50%;
    margin: 2% 30%;
}

.aboutPhoto>img{
    width: 100%;
}

.aboutPhotoText{
    display: none;
}

.service-block{
    margin-top: 35px;
}
.serviceWrapper{
    width: 95%;
    margin: 0 2.5%;
    display: block;
}
.service{
    width: 100%;
}

.service>img {
    width: 100%;
    margin-bottom: 20px;
}
.greenBg{
display: none;
}

.workTextBlock{
margin: 0 5%;
}
.workImg{
    display: none;
}

.sliderContainer{
    display: none;
}
.galleryWrapper{
justify-content: start;
flex-wrap: wrap;
}
.gallery-link{
    width: 50%;
    height: auto;
}
.gallery-img{
width: 100%;
height: auto;
}



}
   