a {
  color: black;
  text-decoration: none;
}

.social-svg {
  text-decoration: 0.5s;
  width: 24px;
  height: 24px;
  fill: #404f3a;
}

.social-svg:hover {
  border-radius: 24px;
  transition-duration: 1s;
  fill: antiquewhite;
}

.m-header {
  display: none;
  background-color: #9fc691;
  padding: 2%;
  border-bottom: 2px solid #3e5d31;
}

.m-wrapper-burger {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.m-burger {
  width: 20px;
  border: none;
  background: none;
}

.m-burger-svg {
  width: 20px;
  height: 48px;
}
.m-nav-list {
  width: 100%;
  display: none;
}

.m-burger:focus + .m-nav-list {
  display: block;
}

.m-nav-item {
  display: flex;
  justify-content: center;
  border-top: 2px solid #3e5d31;
  margin: 10px 0;
}

.m-nav-item > a {
  font-family: 'Caveat', cursive;
  font-size: 28px;
}

.m-nav-phones {
  width: 40%;
}
.m-nav-phone {
  width: 100%;
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 18px;
  color: #404f3a;
  text-align: center;
}

header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 145px;
  background-color: #9fc691;
  border-bottom: 2px solid #3e5d31;
  z-index: 1000;
  top: 0;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px 10%;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-item {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

.nav-item:hover {
  color: #707070;
}
.nav-li:hover > ul {
  transition-duration: 1s;
  opacity: 100%;
}

.listContacts {
  transition-duration: 0.5s;
  opacity: 0%;
  position: absolute;
  width: 140px;
}

.listContacts > li {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.listContacts > li > a {
  color: #404f3a;
}
.logo {
  font-size: 48px;
  font-family: 'Caveat', cursive;
  text-align: center;
  font-weight: 700;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socialWrapper {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

.social-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.social-a:hover {
  border-radius: 24px;
  background-color: rgb(29, 70, 106);
  transition-duration: 1s;
  fill: antiquewhite;
}

.main {
  width: 100%;
}

.aboutPhotoText {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.aboutPhotoText > div {
  width: 40%;
  height: 660px;
  margin-top: 89px;
}

.aboutPhoto > img {
  width: 100%;
  height: 660px;
}

.aboutTextBlock {
  background: #9fc691;
}

.authorName {
  margin: 120px 0px;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.2em;
  text-align: center;
}

.aboutText {
  margin: 0px 10%;
  width: 80%;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.aboutTextBlock > button {
  margin: 30px 30%;
  width: 40%;
  height: 50px;
  background: #464343;
  border: none;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: white;
}

.serviceBlock {
  width: 100%;
  margin-top: 136px;
  display: flex;
  justify-content: center;
}

.serviceWrapper {
  width: 1479px;
  display: flex;
  justify-content: space-between;
}
.service {
  width: 437px;
}

.service > img {
  width: 437px;
  height: 604px;
}

.serviceName {
  text-align: center;
  margin-top: 63px;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.11em;

  color: #000000;
}

.serviceDiscription {
  text-align: center;
  margin: 25px 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  align-items: center;
  color: rgba(0, 0, 0, 0.64);
}

.servicePrice {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 174%;
}

.workContainer {
  margin-top: 180px;
  background-size: 100% 790px;
  width: 100%;
  display: flex;
  position: relative;
}

.greenBg {
  display: flex;
  justify-content: center;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 790px;
  background-color: #9fc691;
}

.greenBg > img {
  width: 701px;
  height: 790px;
}

.workTextBlock {
  margin-top: 70px;
  margin-left: 220px;
  width: 600px;
  height: 581px;
  background-color: white;
}

.workTextBlock > button {
  margin-top: 92px;
  margin-left: 10%;
  width: 80%;
  height: 105px;
  border: none;
  background: #464343;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 174%;

  color: #ffffff;
  cursor: pointer;
}
.workImg {
  border: 15px solid white;
  margin-top: 122px;
  margin-left: 210px;
}

.workTitle {
  text-align: center;
  margin: 40px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  color: #000000;
}

.workText {
  width: 80%;
  margin-left: 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #000000;
}

.reviewForm {
  width: 40%;
  margin: 25px auto;
  padding: 60px;
  background: #9fc691;
}

.formTitle{
  font-family: 'Caveat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
letter-spacing: 0.11em;
text-align: center;
color: #FFFFFF;
}


.upperForm {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upperForm::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 5px;
  background: #ffffff;
border-radius: 4px;
top: 23px;
}



.inputName {
 margin-right: 50px;
  width: 250px;
  background: none;
  border: none;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.11em;
  
  color: #FFFFFF;
}

.inputName:focus {
  outline: none;
  border: none;
}

.inputName::placeholder{
  font-family: 'Caveat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.11em;

color: #FFFFFF;
}


.starsForm {
  display: flex;
  align-items: center;

}

.star{
  width: 23px;
  height: 20px;
}

.bottomForm{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.reviewText{
  width: 60%;
  height: 60px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  background: none;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.11em;
  
  color: #FFFFFF;
}
.reviewText:focus{
  outline: none;
}

.reviewText::placeholder{
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.11em;
  
  color: #FFFFFF;
}

.formSend{
  margin: 25px 35%;
width: 30%;
height: 40px;
background: #464343;
border: none;
cursor: pointer;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 174%;
border-radius: 10px;
letter-spacing: 0.035em;

color: #FFFFFF;
}

.clientRewievText {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.sliderContainer {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sliderWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 23px;
  height: 14px;
  fill: none;
}
.arrowRight {
  transform: rotate(180deg);
}

.sliderReviewContent {
  width: 40%;
  margin: 0 2.2%;
}

.upInfo {
  display: flex;
  align-items: center;
}

.upContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.btnReview{
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #9fc691;
  transition-duration: 0.4s;
}

.btnReview:hover{
  transition-duration: 0.8s;
  background: #9fc691;
}

.reviewName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  /* identical to box height */
}

.reviewDate {
  margin-left: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;

  color: #868484;
}
.reviewStars {
  display: flex;
  align-items: center;
}

.reviewText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.starIco {
  width: 13px;
  height: 13px;
}

.galleryContainer {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.greenBlock {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 305px;
  background-color: #9fc691;
}

.galleryWrapper {
  margin-top: 100px;
  z-index: 1;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.gallery-link {
  width: 250px;
  height: 270px;
}

.gallery-img {
  width: 250px;
  height: 270px;
}

footer {
  background-color: #9fc691;
  margin: 3% 0;
  width: 100%;
}

hr {
  height: 2px;
  background-color: #3e5d31;
}

footer > p {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;

  color: #000000;
}

.t-aboutPhoto {
  display: none;
}

.slider {
  display: none;
}
